/* estilo geral */

body{
    background-color: black;
}
header{
    padding: 40px 4%;
}

.FLEX{
display: flex;
}

.interface{
   
    max-width: 1280px;
    margin: 0 auto;
    
    }
    
h1{
    padding: 0;
    color: aliceblue;
    text-align: center;
    color: rgb(21, 233, 56);
}

img{
    width: 200px;
    border-radius: 50%;
    
}

a{
    color: aliceblue;
}

header .img{
    display: flex;
    justify-content: space-between;
}

h3{
    margin-left: 15px;
    padding: 10px;
    color: aliceblue;
    color: rgb(21, 148, 233);
}

button{
    background-color: rgb(102, 255, 0);
    margin-left: 19px;
    border: 0;
    font-weight: 600;
    border-radius: 30px;
    padding: 18px;
    cursor: pointer;
    font-size: 15px;
    
}


#smart{
    padding: 50px;
    margin-left: 50px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    margin-bottom: 20px;
}

#inicio{
    margin: 30px;
    padding: 10px;
}

p{
    color: aliceblue;
}


footer{

    padding: 60px 4px;
    box-shadow: 0 0 40px 10px #ffffff1d;

}
footer .line-footer{

 padding: 20px;
 border-bottom: 2px solid #12df0b;
}




p{
    font-size: 25px;
    color: #fff;
}